/* * {
    border: solid;
} */

h1 {
    text-align: center;
}

h2 {
    color: brown;
}

body {
    background-color: bisque;
}

.main {
    color: darkgreen;
    width: 60%;
    margin: auto;
}

.pages {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
}

.page {
    text-align: center;
}

.gif {
    display: grid;
    place-items: center;
}

.sir {
    text-align: left;
    display: grid;
    place-items: right;
}

.divimg {
    text-align: right;
    display: grid;
    place-items: right;
}

.sirp {
    text-align: right;
}